body {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  min-width: 1150px;
}

.wrapper {
  width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-body {
  background-color: #fffdf8;
  padding: 60px 0;
}

.wysiwyg-wrapper h1 {
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 24px;
}

.wysiwyg-wrapper h2 {
  color: #9f7303;
  font-size: 40px;
  font-weight: 500;
}

.wysiwyg-wrapper h3 {
  color: #9f7303;
  font-size: 32px;
  font-weight: 500;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  margin-bottom: 50px;
  padding-left: 22px;
}

.wysiwyg-wrapper li {
  margin-bottom: 16px;
  position: relative;
  list-style: none;
}

.wysiwyg-wrapper li::after {
  content: "";
  height: 8px;
  width: 8px;
  background: #f5d581;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 12px;
  left: -20px;
}

.wysiwyg-wrapper blockquote {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #9f7303;
  padding: 40px 100px;
  border-top: 1px solid #f5d581;
  border-bottom: 1px solid #f5d581;
  text-align: center;
  width: 70%;
  margin: 60px auto 60px auto;
}

.review__image {
  object-fit: cover;
  text-indent: -100vw;
  border-radius: 50%;
}

.review {
  display: flex;
  padding: 16px 0;
}

.review__discription {
  padding-left: 24px;
}

.review__name,
.review__text {
  margin: 0;
}